$font-color: #333

body
  color: $font-color
  background: #b706f3
  background: linear-gradient(300deg, red 14%, orange 28%, yellow 42%, #22ff00 56%, #6dd5ea 70%, #1b00ff 84%, #b706f3 100%)
  background: -webkit-linear-gradient(300deg, red 14%, orange 28%, yellow 42%, #22ff00 56%, #6dd5ea 70%, #1b00ff 84%, #b706f3 100%)
  background: -moz-linear-gradient(300deg, red 14%, orange 28%, yellow 42%, #22ff00 56%, #6dd5ea 70%, #1b00ff 84%, #b706f3 100%)

.content
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
