<html>
<head>
  <title>NO MERCY</title>
  <link rel="icon" href="../assets/images/icon.png" type="image/png"/>
  <meta charset="UTF-8"/>
</head>

<body>
  <app-header></app-header>
  <app-clock></app-clock>

  <div id="menu">
    <h1 id="question">ВАМ ЕСТЬ 18???</h1> <!-- TODO move to component -->
    <a class="main_button" href="https://deutschonline.ru/articles/detskie-pesni-na-nemeckom-yazyke/">НЕТ...</a>
    <link styleClass="main_button" value="ДА!" outcome="main"/>
  </div>

  <app-student-hat></app-student-hat>

  <footer id="footer"> <!-- TODO move to component -->
    <div>
      <p>
        Этот сайт написан китайскими детьми, если хотите пожертвовать денег им на айфон перейдите по
        <a href="https://www.kinopoisk.ru/film/432725/">ссылке</a>
      </p>
      <p>
        <img src="resources/images/itmo.png" alt="логотип ИТМО" width="300px"/>
      </p>
    </div>
  </footer>

</body>
</html>
