<html>
<body>
  <header>
    <h1>добро пожаловать на сервер шизофрения!</h1>
  </header>

  <section class="content">
    <router-outlet></router-outlet>
  </section>

  <div id="hat">
    <p>студент: Шнейдерис Герардас Герардович</p>
    <p>группа: P3220</p>
    <p>вариант: 10901</p>
  </div>
  <footer id="footer">
    <div>
      <p>
        Этот сайт написан китайскими детьми, если хотите пожертвовать денег им на айфон перейдите по
        <a href="https://www.kinopoisk.ru/film/432725/">ссылке</a>
      </p>
<!--      <p>-->
<!--        <img src="../public/" alt="логотип ИТМО"/>-->
<!--      </p>-->
    </div>
  </footer>

</body>
</html>
